body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 10px;
}

.grid div {
    width: 50px;
    height: 50px;
}